PORT=8080
POSTGRES_URL=postgres://postgres:secret@localhost:5432/ezradb?sslmode=disable
SECRET="EZRA@christian_event*secret#6677"

# Redis info
REDIS_PASSWORD="EZRA@redis#6677"
REDIS_PORT=6379

# google info
GOOGLE_CLIENT_ID=your_google_client_id

# firebase info
FIREBASE_CREDENTIALS_PATH=/path/to/firebase.json

# payway info
PAYWAY_MERCHANT_ID=your_merchant_id
PAYWAY_API_KEY=your_api_key
PAYWAY_API_USERNAME=your_api_username
PAYWAY_BASE_URL=https://api-sandbox.payway.com.kh
PAYWAY_RETURN_URL=http://localhost:3000/donation/complete
PAYWAY_CONTINUE_URL=http://localhost:3000/donation/success
PAYWAY_CALLBACK_URL=http://localhost:8080/webhooks/payway

# mail server info
SMTP_HOST=mail.privateemail.com
SMTP_PORT=465
SMTP_USERNAME=development@komplech.com
SMTP_PASSWORD=G7x!pQ2vLm
SMTP_FROM=ezra@komplech.com
OTP_EXPIRY_MINUTES=3